# Ignore virtual environment
myenv/
.myenv/

# Ignore Python cache
__pycache__/

# Ignore personal data (optional)
app/data/*.csv

# Ignore python files
app/app_test.py
app/app_dev.py

app/pages/Portfolio_test.py
app/pages/Portfolio_dev.py
app/pages/graph_tests.py
